@import "theme.css";

@import "../components/nav.css";
@import "../components/question-card.css";
@import "../components/profile-card.css";
@import "../components/dark-mode-toggle.css";
@import "../components/footer-menu.css";

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-blue);
  color: white;
}

h2 {
  font-size: xx-large;
}
