:root {
  --primary-lightblue: #686de0;
  --secondary-lightblue: #4834d4;

  --primary-blue: #00509d;
  --secondary-blue: #30336b;
  --background-blue: #130f40;

  --text: white;

  --border-radius-sm: 5px;
  --border-radius-lg: 10px;
  --gap: 10px;

  font-family: Arial, Helvetica, sans-serif;
}
