:root {
  --primary-yellow: #ffd500;
  --secondary-yellow: #fdc500;

  --primary-blue: #00509d;
  --secondary-blue: #003f88;
  --background-blue: #00296b;

  --text: white;

  --border-radius-sm: 5px;
  --border-radius-lg: 10px;
  --gap: 10px;
}
