footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 20px;
}

.footer__icon {
  max-width: 10%;
}
