nav {
  position: sticky;
  height: 50px;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 20px;
  z-index: 99;
}

.nav__logo {
}

.nav__logo:hover {
  filter: brightness(120%);
}

.bookmarks__logo {
  object-fit: cover;
}
